// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Activity domain classes
.evening {
    background-color: #d878d0;
    margin: 1px;
}
.job120,
.job226,
.job404,
.jobpweb{
    background-color: #d8af4a;
    margin: 1px;
}
.service,
.supply,
.kitchen{
    background-color: #7ad875;
    margin: 1px;
}
.outdoor{
    background-color: #8893d8;
    margin: 1px;
}

.myActivities {
    border: 5px solid red;
}
